.table-responsive{
    padding: 5%;
}

.input-group{
    padding:5%;
}

.heading{
    display: flex;
    padding:5%;
    align-items: center;
    justify-content: center;
    font-family:'Mulish', Arial, sans-serif;
}

body{
    background-color: #7AB8BF
}

.table .thead-dark th {
    color: white;
    background-color: #025159;
    border-color: #454d55;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.main-icon{
    height: 350px;
    width: 500px;
}

.image-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


#add-button{
    color: white;
    background-color: green;
}

#clear-button{
    color: white;
    background-color: #cb484c;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    max-width: fit-content;
  }
  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.extra-components{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2%

}

#button-styling{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    padding-bottom: 3%;
    padding-top: 5%;
}

#button-styling2{
    display: flex;
    align-content: center;
    justify-content: center;
}

#site-name{
    display:flex;
    justify-content: center;
    align-content: center;
    padding-left: 9%;
    text-align: center;
    
}

.badge-primary {
    color: #fff;
    background-color: #025159;
    padding: 5%;
}

.btn-primary {
    color: #fff;
    background-color: #D47E48;
}


html {
    scroll-behavior: smooth;
}

#section-2{
    background-color: #C4EEF2;
    padding: 5%;
}

